/* Structer */
body{
    background-color: #000000;
}
#main{
    background-color: #377F7F;
}


/* Typography */
h1,
h2{
    color:aliceblue;
    text-align: center;
    font-family: 'Cherry Swash';
}



/*Button*/
#bot{
    border-radius: 50%;
    color: aliceblue;
    background-color:#144343;
    padding: 50px 70px;
    font-size: 30px;
    border: none;
    text-align: center;
    
    text-decoration: none;
    
    display: block;
    margin: auto;

}

.center{
    padding: 20px;
}

/* Checklsit */
.list{
    color: aliceblue;
    padding: 5px;
    margin-left: 30px;
    display: block;
    text-align: center;
    
}






/* footer */
footer{
    background-color: #000000;
}

 footer svg{
    width: 20px;
    display: block; 
    margin: 10px;
    padding: 10px;
    fill: aliceblue; 
  }

.container{
    display: flex;
}

footer h2{
    padding: 20px;
}

footer{
    color: aliceblue;
    background-color: #377F7F;
}
