body{
    background-color: #F7F7FF;
}
main{
    background-color:#372248;
    padding: 10px;
    margin: auto;
    width: 70%;
    padding: 10px;
}


/*Typography*/
h1{
    color: #414770;
    text-align: center;
}

h2{
   color:#5B85AA;
   text-align: center; 
}

h3,
p{
    color:#F7F7FF;
}



/*Navigation*/
#main-nav{
    text-align: center;
}
#main-nav ul{
    padding-left: 0px;
    list-style: none;
}
#main-nav li{
    padding: 10px;
    margin: 2px 0;
}


#main-nav a{
    text-decoration: none;
    color: #414770;
}

.hidden{
    display: none;
}

.dropdown{
    width: 100px;
    height:30px;
    background-color:#5B85AA;
    border-radius:30px;
    text-align: center;
}

.dropdown svg{
    fill: #372248;
    width: 20px;
}

#nav-toggle.active{
    transform: rotate(180deg);
}


/*hide main*/
.toggle{
    display: none;
}
.toggle.active{
    display: block;
}



/* Travelling */
#travel{
    text-align: center;
}
#square{
    background-color: #5B85AA;
    margin: auto;
    margin-top: 10px;
    width: 70%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


#imageContainer{
    padding: 10px;
}

/* Color My Heart */
#heart svg{
    fill:white;
    height: 150px;
}

#color{
    text-align: center;
}



@media (min-width: 900px){
    #main-nav-items{
        display: flex;
        justify-content: center;
    }

    li + li::before {
        content: " | ";
        padding: 100px;
    }

    #nav-toggle{
        display: none;
    }
}

















