/* Structure */
body{
    background-color: #d0e1f9;
    font-family: Arial, Helvetica, sans-serif;
}

#head h3{
    text-align: center;
}

#link{
    width:50%;
    margin: auto;
}

#link h2{
    text-align: center;
    margin: 5px;
}

.square{
    background-color:#1e1f26;
    color:aliceblue;
}

.square img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.square h3{
    text-align: center;
    padding-top: 10px;
    margin: 7px;
}



/* Navigation */ 





/* Typography */

#head{
    text-align: center;
}



