/* Structure */
#top{
    background-color:rgb(185, 225, 249);
    padding: 5px;
}

#content{
    background-color: rgb(185, 225, 249);
    padding: 10px 0 0 0;
}

.colum{
    background-color: rgb(62, 166, 161);
    padding: 10px;
    margin: 0 50px 0 50px;
}

.colum2{
    background-color: blue;
    padding: 10px;
    margin: 0 50px 0 50px;
}

#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#content2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flex{
    background-color:#75d1cb;
    padding: 5px;
}

#link{
    background-color: #0000ff;
    padding: 5px;
}






/* Navigation */ 
#nav ul{
    padding-left: 0;
}

#nav li {
    list-style-type: none;
    background-color: #0000ff;
    padding: 5px;
    border: 1px solid rgb(0, 103, 112);
}

#nav a{
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
}







/* Typography */
body{
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    text-align: center;
}

#top h1{
    color: rgb(0, 103, 112);
}

#content h2{
    color: rgb(0, 103, 112);
}

#content{
    color: aliceblue;
    text-align: left;
}
.flex h3{
    text-align: center;
}

.flex{
    color: aliceblue;
    padding: 10px;
}

#link h3{
    color:aliceblue;
    margin-left: 40px;
}

#link a{
    color: aliceblue;
}

#link li{
    list-style-type:none;
}





/* Larger Resolutions */
@media(min-width:900px){
body{
    background-color: rgb(185, 225, 249);
}

#nav ul,
.idea,
.flex{
    display: flex;
}

#nav li{
    flex: 1;
}

.idea{
    flex-direction:column;
}










}